<?xml version="1.0" encoding="UTF-8"?>
<configuration packagingData="true">

    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%-10thread] %-5level %msg%n</Pattern>
        </layout>
    </appender>

    <logger name="cdp4j.session"     level="INFO" />
    <logger name="cdp4j.flow"        level="INFO" />
    <logger name="cdp4j.factory"     level="INFO" />
    <logger name="cdp4j.ws.request"  level="ERROR" />
    <logger name="cdp4j.ws.response" level="ERROR" />

    <root level="info">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>